.border-top{
    border-top: 4px double gray;
}

.border-top-single{
    border-top: 2px solid #808080;
}

.link-border div a {
    border-bottom: 2px solid transparent;
}

.link-border div a:hover {
    border-bottom: 2px solid gray;
}

/* Dark Mode theme And Colors */
.bg-color {
    background-color: var(--body_background);
    color: var(--body_color);
}

.text-color {
    color: var(--body_color);
}