/* Border styles */
.box-border{
    border: 4px double gray;
}

.btn-border{
    border: 4px double gray;
}

/* Dark Mode theme And Colors */
.bg-color {
    background-color: var(--body_background);
    color: var(--body_color);
}

.text-color {
    color: var(--body_color);
}

.hover-text {
    color: var(--body_color);
}

.hover-text:hover {
    color: #374151;
}

/* Submit button style */
.input-btn {
    background-color: var(--input_button);
}
.input-btn:hover {
    background-color: #4b5563;
}